
.MMM-Temperature .temperatureRootWrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0px;
    align-items: flex-start;
}

.MMM-Temperature .temperatureRootWrapper .sensor {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #2b2c30;
    border-radius: 5px;
    margin: 5px;
    line-height: 0px;
    font-size: 0px;
}

.MMM-Temperature .temperatureRootWrapper .name, 
.MMM-Temperature .temperatureRootWrapper .temperature, 
.MMM-Temperature .temperatureRootWrapper .humidity ,
.MMM-Temperature  .temperatureRootWrapper .wind-avg, 
.MMM-Temperature .temperatureRootWrapper .wind-max, 
.MMM-Temperature .temperatureRootWrapper .wind-dir, 
.MMM-Temperature .temperatureRootWrapper .rain, 
.MMM-Temperature .temperatureRootWrapper .uv, 
.MMM-Temperature .temperatureRootWrapper .light{
    margin: 5px;
}

.MMM-Temperature .temperatureRootWrapper .nameWrapper, 
.MMM-Temperature .temperatureRootWrapper .description, 
.MMM-Temperature .temperatureRootWrapper .value, 
.MMM-Temperature .temperatureRootWrapper .unit {
    font-size: 20px;
    line-height: 20px;
}

.MMM-Temperature .temperatureRootWrapper .name {
    text-align: center;
}

.MMM-Temperature .temperatureRootWrapper .sensorWrapper {
    font-size: 0px;
    margin: 5px;
    background-color: black;
    min-width: calc(100% - 10px);
}

.MMM-Temperature .temperatureRootWrapper .temperatureWrapper, 
.MMM-Temperature .temperatureRootWrapper .humidityWrapper, 
.MMM-Temperature .temperatureRootWrapper .windAvgWrapper, 
.MMM-Temperature .temperatureRootWrapper .windMaxWrapper, 
.MMM-Temperature .temperatureRootWrapper .windDirWrapper, 
.MMM-Temperature .temperatureRootWrapper .rainWrapper, 
.MMM-Temperature .temperatureRootWrapper .uVWrapper, 
.MMM-Temperature .temperatureRootWrapper .lightWrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.MMM-Temperature .temperatureRootWrapper .description {
    margin-right: 10px;
}

.MMM-Temperature .temperatureRootWrapper .valueWrapper {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.MMM-Temperature .temperatureRootWrapper .unit {
    margin-left: 5px;
}

.MMM-Temperature .temperatureRootWrapper .sensor .value {
    min-width: 35px;
    text-align: right;
}

.MMM-Temperature .temperatureRootWrapper .sensor .temperature.high .value, 
.MMM-Temperature .temperatureRootWrapper .sensor .temperature.high .unit, 
.MMM-Temperature .temperatureRootWrapper .sensor .humidity.high .value, 
.MMM-Temperature .temperatureRootWrapper .sensor .humidity.high .unit,
.MMM-Temperature .temperatureRootWrapper .sensor .temperature.low .value, 
.MMM-Temperature .temperatureRootWrapper .sensor .temperature.low .unit, 
.MMM-Temperature .temperatureRootWrapper .sensor .humidity.low .value, 
.MMM-Temperature .temperatureRootWrapper .sensor .humidity.low .unit
{
    color: red;
}

